<!-- Navbar component -->
<nav class="navbar">
  <!-- Container for the navigation links -->
  <div class="container">
      <!-- List of navigation items -->
      <ul class="navbar-list">
          <!-- Navigation item for Employees page -->
          <li class="nav-item">
              <!-- Link to the Employees page -->
              <a routerLink="../employees" class="nav-link">Employees</a>
          </li>
          <!-- Navigation item for Add Employee page -->
          <li class="nav-item">
              <!-- Link to the Add Employee page -->
              <a routerLink="../employee/add" class="nav-link">Add Employee</a>
          </li>
      </ul>
  </div>
</nav>
