/* employee-add-edit.component.scss */

.employee-form-page {
  width: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  font-size: 24px;
  width: 80%;
  margin-top: 50px;
  padding-left: 20px;
}

.form {
  width: 80%;
  padding: 20px;
}

.row{
  display: flex;
  justify-content: space-between;
}
.employee-form-field{
  margin-bottom: 30px;
  width: 47%;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input{
    width: 100%;
    padding: 10px;
    border: 1px solid #b8b4b4; /* Darker border color */
    border-radius: 4px;
    transition: border-color 0.3s; /* Smooth transition */
  }

  input:focus {
    outline: none;
    border-color: #007bff; /* Border color on focus */
  }

  #id:disabled{
    cursor: not-allowed;
  }

  .gender-fields{
    display: flex;
    
    .gender-radio-container{
      display: flex;
      margin: 5px 30px 0px 0px;
      
      input{
        margin: 0;
        cursor: pointer;
      }
      label{
        margin: -1px 0px 0px 8px;
        cursor: pointer;
      }
    }
  }

}

.skill-fields {
  margin-bottom: 20px;
  width: 47%;
  .skills-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .add-skill-btn{
      padding: 10px; /* Increased padding */
      background-color: #32a852; /* Add skill button background color */
      color: #ffffff; /* Text color */
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s; /* Smooth transition */
      font-weight: bold; /* Bold text */
    }

    .add-skill-btn:hover {
      background-color: #278a42; /* Add skill button background color on hover */
    }
  }

  .skill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input{
      margin-right: 10px;
    }

    input,
    select{
      width: 47%;
      border: 1px solid #b8b4b4; /* Darker border color */
      border-radius: 4px;
      padding: 10px;
      background-color: #ffffff; 
      transition: border-color 0.3s, background-color 0.3s; /* Smooth transition */
    }

    input:focus,
    select:focus {
      outline: none;
      border-color: #007bff; /* Border color on focus */
    }

    .delete-skill {
      padding: 4px 8px; /* Increased padding */
      background-color: #dc3545; /* Delete button background color */
      color: #ffffff; /* Text color */
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s; /* Smooth transition */
      margin-left: 50px;
    }

    .delete-skill:hover {
      background-color: #c82333; /* Delete button background color on hover */
    }
  }

  
}

.edit-control-btns{
  display: flex;
  justify-content: space-between;
}

.add-btn {
  width: 75px;
  padding: 10px; /* Increased padding */
  background-color: #007bff; /* Submit button background color */
  color: #ffffff; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  font-weight: bold; /* Bold text */
}

.add-btn:hover {
  background-color: #0056b3; /* Submit button background color on hover */
}

.cancel-btn{
  text-decoration: none;
  width: 75px;
  padding: 10px; /* Increased padding */
  background-color: #dc3545; /* Submit button background color */
  color: #ffffff; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  font-weight: bold; /* Bold text */
}
