<!-- employee-list.component.html -->
@if(employees.length > 0)
{
  <div class="employee-list-container">
    <div class="add-employee-btn-container">
      <button class="add-employee-btn" routerLink="../employee/add">Add Employee</button>
    </div>

    <table class="employee-list">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Gender</th>
          <th>Skills</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (employee of employees; track $index) {
          <tr class="{{($index+1)%2 === 0?'even-row':'odd-row'}}" >
            <td>{{ employee.id | uppercase}}</td>
            <td>{{ employee.name | titlecase}}</td>
            <td>{{ employee.email | lowercase}}</td>
            <td>{{ employee.contactNumber }}</td>
            <td>{{ employee.gender | titlecase}}</td>
            <td>
              @for (skill of employee.skills; track $index) {
                <div class="skill skill-{{$index+1}}">
                  @if ( employee.skills.length !== 1 ) {
                    <span>{{$index+1}}. </span>
                  }
                  <span>
                    {{skill.skillName}}
                  </span>
                  <span>
                    (Exp. {{skill.experience}} years)
                  </span>
                </div>
              }
            </td>
            <td class="action-btns">
              <button title="Edit" class="edit-action-btn" (click)="editEmployee(employee.id)"><i class="material-icons">edit</i></button>
              <button title="Delete" class="delete-action-btn" (click)="deleteEmployee(employee.id,employee.name)"><i class="material-icons">delete</i></button>
            </td>
          </tr>
        }
        
      </tbody>
    </table>
  </div>

}
@else{
  <div class="empty-employee-list">
    <p>No employees found</p>
  </div>

}
  
  