/* employee-list.component.scss */
.add-employee-btn-container{
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  .add-employee-btn  {
    padding: 10px; /* Increased padding */
    background-color: #32a852; /* Add skill button background color */
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
    font-weight: bold; /* Bold text */
  }

  .add-employee-btn:hover {
    background-color: #278a42; /* Add skill button background color on hover */
  }

}
.employee-list {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: none;
    padding: 10px;
    text-align: left;
  }

  tr{
    border: 1px solid rgba(88, 87, 87, 0.545);
  }


  td:last-child {
    text-align: center;
  }

  .odd-row{
    background-color: #e5e4e4;
  }

  .action-btns{
    display: flex;
  }

  button{   
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    margin-right: 10px;
  }

}

.empty-employee-list{
  p{
    text-align: center;
    color: rgb(166, 15, 45);
    font-weight: bold;
    margin-top: 50px;
  }
}
  
  