/* employee-list.component.scss */

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: none;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
  }


  td:last-child {
    text-align: center;
  }

  .odd-row{
    background-color: #f2f2f2;
  }

  .action-btns{
    display: flex;
  }

  button{   
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    margin-right: 10px;
  }


  }
  
  